@import 'tailwindcss';

:root {
	background-color: #b3beaf;
}
@theme {
	--color-primary: #b2bfae;
	--color-secondary: #d9f333;
	--color-accent: #f4f3e8;
	--color-text: #17401b;
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		padding-top: 5px;
	}
	100% {
		opacity: 1;
		padding-top: 0;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@layer utilities {
	.animate-fade-in-up {
		animation: fadeInUp 0.5s ease-in-out;
		box-sizing: border-box;
	}
	.animate-fade-in {
		animation: fadeIn 0.5s ease-in-out;
	}
}
