@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief&display=swap');

@import 'tailwindcss';

@theme {
	--font-inter: 'Inter Variable', 'Inter', sans-serif;
	--font-marmelad: 'Marmelad Variable', 'Marmelad', sans-serif;
	--font-comic: 'Comic Relief', cursive;
	--font-sans: var(--font-inter);
	--font-display: var(--font-marmelad);
	--font-fun: var(--font-comic);
}
